
.cart-goods-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32rpx;
 
}
.cart-goods-list .r {
  display: flex;
  align-items: center;
}
.cart-goods-list .title{
  font-size: 28rpx;
  font-weight: bold;
}
.cart-goods-list .content{
  font-size: 24rpx;
  color: #666;
}
.cart-goods-list .price{
  font-size: 26rpx;
  margin-right: 32rpx;
}
.empty-box{
  display: flex;
  align-items: center;
  padding-top: 15rpx;
  padding-left: 20rpx;
  padding-right: 20rpx;
  padding-bottom: 15rpx;
  background-color: #eeeeee;
  justify-content: space-between;
  

}
.empty-box .empty-0{
  height:30rpx;
  width: 30rpx;
}
.empty-box .empty-1{
  font-size:25rpx ;
  margin-left: 10rpx;
}



.uni-swiper-dot-box{
	height: 200px;
}


.card-actions{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10rpx;
}


.search .van-icon-search {
  line-height: 56rpx;
}




.catalog .nav {
  background: #f9f9f9;
  width: 25%;
}

.catalog .nav .item {
  text-align: left;
  width: 100%;
  color: #8A8A8A;
  font-size: 28rpx;
  padding: 30rpx 0;
  border-left: 6rpx solid #fff;
}

.catalog .nav .item.active {
  color:#FF6800;
  font-weight: 600;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
  font-size: 30rpx;
  border-left: 6rpx solid #FFC300;
}

.catalog .cate {
  /* border-left: 4rpx solid #fafafa; */
   width: 75%;
  /* padding: 0 20rpx 0 0rpx; */
}

.catalog .bd .item .txt {
  text-align: center;
  font-size: 24rpx;
  color: #333;
  height: 72rpx;
  padding-left: 16rpx;
}

.itemSection{
  display: flex;
}

.badge {
  top: 20rpx !important;
  right: 30rpx !important;
}
.three {
  /* margin-top: 1rem; */
  /* height: 200px; */
   /* width:50% ; */
}
.three .product_img{
  border-radius: 5px;
  width:200rpx;
  height:200rpx
}
