	.home{
		position: relative;
	}
	
	.card-order{
		display: flex;
	}
	.order-div{
		width: 80px;
		padding: 10px 0;
		text-align: center;
	}
	.bcgImg-image{
		height: 200px;
	}
	.active{
		transform:translateY(-230rpx); 
		transition-duration:1s;
	}
	.card-list {
		position: initial;

	}
	.order-card image{
		width: 120px;
		height: 120px;
	}
	.tocart {
	    width: 200rpx;
	    height: 80rpx;
	    background: white;
	    border-radius: 0;
	    color: #000;
	    display: flex;
	    font-size: 30rpx;
	    align-items: center;
	    justify-content: center;
	    border: 1px solid;
	}
.topay {
	width: 200rpx;
	height: 80rpx;
	margin-left: 20rpx;
	margin-right: 20rpx;
	background: #000;
	color: #fff;
	border-radius: 0;
	display: flex;
	font-size: 30rpx;
	align-items: center;
	justify-content: center;
}